
body{
    font-family: 'Noto Sans TC', sans-serif;
    color: $secondary;
}  
.kalam{    
    font-family: 'Kalam', cursive;
}
// .ChenYuluoyan-Thin{
//     font-family: 'ChenYuluoyan-Thin';
// }
.mb-26{
    margin-bottom: 26px;
}
.mb-40{
    margin-bottom: 40px;
}
 
.pt-55{
    padding-top: 55px;
}
.mb-55{
    margin-bottom: 55px;
}
.mb-80{
    margin-bottom: 80px;
    @include media-breakpoint-down(sm) {        
        margin-bottom: 53px;
    }
}
.px-172{
    padding-left: 72px;
    padding-right: 72px;
}
.px-62{
    padding-left: 62px;
    padding-right: 62px;
}   
.me-200{
    margin-right: 200px;
    @include media-breakpoint-down(sm) {
        margin-right: 0;

    }
}

//banner背景圖
.banner{
   background-repeat: no-repeat;
   background-position: center center;  
   background-image: url(../img/home_mobile.png);   
   height: 635px;
   background-size: cover;
   margin-bottom: 80px;

//up-sm就是≥576的時候會換圖片
   @include media-breakpoint-up(sm) {        
        height: 100vh;
        background-image: url(../img/home.png); 
      
    }

}

//banner圖上的文字
.stroke-text{
    color: #326e92;
    // -webkit-text-stroke:2px white 寫在這裡邊框會壓字在上方;
    &::before{
        content: 'Mudpuppy Bookish Cats';
        -webkit-text-stroke: 5px white;
        position: absolute;
        z-index: -1;
    }
}


    
    
.bg-none{
    display: none;
}

.bg-block{ 
    &:hover{ 
        .bg-none{
            transition: ease-in 0.5s;
            display: block;

            // 漸層背景也可以寫在這
            // background-image: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.8));
        }    
    }
}

.bg-liner{
    background-image: linear-gradient(180deg,rgba(0,0,0,.3),rgba(0,0,0,.6));
}

.custom-border-gray{
    border-top: 1px solid #ECECEC;    
}

//客製我的毛孩圖
.custom-img-hover{ 
    background-image: url(../img/btn2.png);  
    width: 140px;
    height: 185px;
    background-repeat: no-repeat;    
    position: fixed;    
    right: 50px;
    bottom: 0px;
    z-index: 100; 
    &:hover{            
         background-image: url(../img/btn.png);  
         background-repeat: no-repeat;      
    }
}
// @include media-breakpoint-down(sm) { 
//     .custom-img-fixed{
//         display: none;
//     }
// }



  
// .custom-rotate3d{
//     position: fixed;    
//     height: 16px;
//     width: 16px;
//     background-color: #fff;
//     // bottom: 16px;
//     left: 50%;
//     // bottom:120px;

//     border-bottom: 1px solid $secondary;
//     border-right: 1px solid $secondary;
//     transform: rotate(45deg);
//     translate: middle;

// }
// // translate(-50%, -50%) 




// .nav-link:hover{
//     color: $primary;
// }
// .custom-active:hover{
//     color: $primary;
// }

.link-custom:hover{
    &::before{
        content: '-';
    }
}


//service-banner背景圖
.service-banner{
    background-repeat: no-repeat;
    background-position: center center;  
     
    background-image: url(../img/banner.png); 
    height: 288px;
 //up-sm就是≥576的時候會換圖片
    @include media-breakpoint-down(sm) {             
         height: 215px;
         background-image: url(../img/banner_service-sm.png);       
     }
 }
 
 .step-img{
    width: 203px;
    height: 200px; 
    @include media-breakpoint-down(sm) {     
       width: 98px;
       height: 100px;
    }  
 }
 
 .step01-img-block{
        @include media-breakpoint-down(sm) {             
          height: 100px;
          width: 98px;
          background-size: cover;
          background-repeat: no-repeat;
      }  
 }
 
     
 
 
 
 
 
